@import url('simplelightbox/dist/simple-lightbox.min.css');
.gallery-image {
    display: block;
    max-width: 100%;
    height: auto;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.gallery-item {
    flex-basis: calc((100% - 48px) / 3);
}